/* .grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: fixed;

} */


.grid {
display: flex;

}

.cell {
  height: 32vh;
  background-color: #999;
  width: 32vh;
  border: 2px solid #2c3e50;
}

div.cell:hover{
    background-color:Orchid;
    color:white;
    cursor:pointer;
};

body {
}
