.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.cell {
  height: 32vh;
  margin-bottom: 2vh;
  margin-left: 1vw;
  margin-right: 1vw;
  background-color: #999;
  width: 30vw;
}
